<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC5W7QnQh63aQFwjCwV4UG5nnfrj3Q10Io</string>
	<key>GCM_SENDER_ID</key>
	<string>595223059555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.udayjain.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-udayjain</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-udayjain.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595223059555:ios:017df90fd08ee06653ec56</string>
</dict>
</plist>